/* my variables */

:root {
    --clr-primary-100: hsl(225, 100%, 94%);
    --clr-primary-500: hsl(245, 75%, 52%);
    --clr-primary-300: hsl(245, 75%, 65%);
    
    --clr-neutral-100: hsl(225, 100%, 98%);
    --clr-neutral-400: hsl(224, 23%, 55%);
    --clr-neutral-800: hsl(223, 47%, 23%);

    --ff-primary: "Red Hat Display", sans-serif;

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-medium);
    font-size: 1rem;
    color: var(--clr-neutral-400);
    background-color: var(--clr-primary-100);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    /* since it's a simple project and all the content is center in the middle, I decided to put this on the body */

    display: grid;
    place-content: center;
    margin: 1.5rem;
}

@media screen and  (max-width: 375px) {
    body {
        background-image: url("images/pattern-background-mobile.svg");
    }
}

/* utilities */

.flex-group {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

/* order styles */

.order__container {
    /* creating vars for this product class just to make it easier to adjust later in the project */
    
    --content-padding: 1.5rem 1.5rem 0.9rem 1.5rem;
    --content-spacing: 1.1rem;

    display: grid;
    border-radius: 1.1rem;
    overflow: hidden;
    background-color: white;
    max-width: 410px;
}

.order__summary {
    display: grid;
    padding: var(--content-padding);
    gap: var(--content-spacing);
    text-align: center;
}

.order__title {
    font-size: 1.3rem;
    font-weight: var(--fw-black);
    color: var(--clr-neutral-800);
}

.order__plan {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 1.3rem;
    background-color: var(--clr-neutral-100);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.plan-title {
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-800);
}

/* buttons styling */

.button__change-plan {
    background: none;
    border: none;
    text-decoration: underline;
    color: var(--clr-primary-500);
    font-weight: var(--fw-bold);
    font-size: 0.9rem;
    margin-left: auto;
}

.button__change-plan:hover {
    color: var(--clr-primary-300);
    text-decoration: none;
    cursor: pointer;
}

.button-payment {
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-500);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 0;
    box-shadow: 0 15px 30px -15px var(--clr-primary-500);
}

.button-payment:hover {
    background-color: var(--clr-primary-300);
    cursor: pointer;
}

.button-cancel-order {
    font-size: 0.9rem;
    font-weight: var(--fw-black);
    color: var(--clr-neutral-400);
    background: none;
    border: none;
    padding: 0.5rem 0;
}

.button-cancel-order:hover {
    color: var(--clr-neutral-800);
    cursor: pointer;
}

/* footer styles */

.footer { 
    font-size: 11px; text-align: center; margin-top: 4rem;
}

.footer a {
    color: hsl(228, 45%, 44%);
}
