/* my variables */

:root {
    --clr-primary-100: hsl(225, 100%, 94%);
    --clr-primary-500: hsl(245, 75%, 52%);
    
    --clr-neutral-100: hsl(225, 100%, 98%);
    --clr-neutral-400: hsl(224, 23%, 55%);
    --clr-neutral-800: hsl(223, 47%, 23%);

    --ff-primary: "Red Hat Display", sans-serif;

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-medium);
    font-size: 1rem;
    color: var(--clr-neutral-400);
    background-color: var(--clr-primary-100);

    /* since it's a simple project and all the content is center in the middle, I decided to put this on the body */

    display: grid;
    place-content: center;
    margin: 1.5rem;
}